.error-text .shiny-text-output {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #f8f9fa;
  border: 1px solid #b33131;
  border-radius: 0.25rem;
  padding: 0.5rem;
  white-space: pre-wrap;
}

.normal-text .shiny-text-output {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #f8f9fa;
  border: 1px solid #3c8dbc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  white-space: pre-wrap;
}

.custom-message {
  max-width: 300px;
  white-space: pre-wrap;
  overflow: auto;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;  
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.right-align {
  text-align: right;
  display: block;
}
.no-margin {
  margin: 0;
}

.italic-text {
  font-style: italic;
}

.icon-container {
  width: 1.5em;
  height: 1.5em;
  background-color: transparent; 
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin-left: 15px;
}

.load-button {
  color: #fff;
  background-color: #3c8dbc;
  border: 1px solid #ced4da;
  margin: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  font-size: 16px;
}

.suppress-button {
  color: #fff;
  background-color: #d9534f ;
  border: 1px solid #ced4da ;
  margin: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  font-size: 16px;
}

.add-button {
  color: #fff;
  background-color: #28a745;
  border: 1px solid #ced4da;
  margin: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  font-size: 16px;
}

.no-bottom-margin {
  margin: 0px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.list-element {
  list-style-type: decimal;
  list-style-position: inside;
  border: 2px solid #3c8dbc;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.selectInput-element {
  width: 100%;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.widget-box {
  border: 2px solid #3c8dbc;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.panel {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.step {
  background: #fff;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 8px;
  cursor: grab;
  font-weight: 500;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workflow-drop {
  min-height: 200px;
  border: 2px dashed #c9cbe3;
  border-radius: 12px;
  padding: 12px;
  background: #fafbff;
}

.delete-btn {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.sortable-ghost {
  opacity: 0.4;
}

